<%# <div class="container"> %>

  <div class="flip flip-vertical shadow rounded" style="width: 350px; height: 350px;">
    <div class="front">
      <h3 class="mb-5 text-dark"><%= project.title %></h3>
      <div class="d-inline justify-content-between ">
        <% if project.status == "Abierto" %>
          <p class="font-status text-success bg-gradient-light rounded shadow">Status: <%= project.status %></p>
        <% elsif project.status == "Cerrado" %>
          <p class="font-status text-warning bg-gradient-light rounded shadow">Status: <%= project.status %></p>
        <% end %>
        <p class="font-status text-dark">Propuestas: <%= project.postulations.count %></p>
      </div>
    </div>

    <div class="back">
      <div class="button-option">
        <h3></h3>
        <%= link_to "Editar proyecto", edit_project_path(project), class: "btn btn-primary button-project" %>

        <% if project.status == "Abierto" %>
          <%= link_to "Bajar proyecto", unpublish_project_path(project.id), method: :PUT, class: "btn btn-primary button-project" %>
        <% elsif project.status == "Cerrado" %>
          <%= link_to "Dar de alta", unpublish_project_path(project.id), method: :PUT, class: "btn btn-primary button-project" %>
        <% end %>

        <%= link_to "Ver propuestas", my_projects_postulations_path(project.id), class: "btn btn-primary button-project" %>
      </div>
    </div>
  </div>
<%# </div> %>