<%# <div class="container"> %>

  <div class="flip flip-vertical shadow rounded" style="width: 350px; height: 350px;">
    <div class="front border border-white" style="background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80')">
      <h3 class="mb-3 text-dark"><%= project.title %></h3>
      <div class="d-inline justify-content-between text-center">
        <% if project.status == "Abierto" %>
          <p class="font-status text-success bg-gradient-light rounded shadow">Status: <%= project.status %></p>
        <% elsif project.status == "Cerrado" %>
          <p class="font-status text-warning bg-gradient-light rounded shadow">Status: <%= project.status %></p>
        <% end %>
        <p class="font-status text-dark">Propuestas: <%= project.postulations.count %></p>
      </div>
    </div>

    <div class="back" style="background-image: url('<%= image_path "icon.png" %>')">
      <div class="button-option">
        <h4 class="mb-3 text-dark"><%= project.title %></h4>
        <%= link_to "Editar proyecto", edit_project_path(project), class: "btn btn-primary button-project" %>

        <% if project.status == "Abierto" %>
          <%= link_to "Bajar proyecto", unpublish_project_path(project.id), method: :PUT, class: "btn btn-primary button-project" %>
        <% elsif project.status == "Cerrado" %>
          <%= link_to "Dar de alta", unpublish_project_path(project.id), method: :PUT, class: "btn btn-primary button-project" %>
        <% end %>

        <%= link_to "Ver propuestas", my_projects_postulations_path(project.id), class: "btn btn-primary button-project" %>
      </div>
    </div>
  </div>
<%# </div> %>