

<div class="card-product my-3">
  
  <div class="d-inline" style="width:20%">
    <% if project.status == "Abierto" %>
      <div>
        <h6 class="px-2 mt-1">Esta propuesta finaliza el:
        <%= image_tag "clock.png", style: "height: 30px; width: 30px;" %></h6>
      </div>
        <% start_time =  Date.today %>
        <% end_time   =  project.deadline %> 
        <h6 class="px-2"><%= time_tag(project.deadline, format: :default, id:"deadline") %></h6>
        <strong><h6 class="mb-0 px-2">Quedan <%= distance_of_time_in_words(start_time, end_time) %> para que cierre el proyecto.</h6></strong>
      </div>
    <% elsif project.status == "Cerrado" %>
      <div>
        <h6 class="px-2 mt-1">Esta propuesta finalizó el:
        <%= image_tag "clock.png", style: "height: 30px; width: 30px;" %></h6>
      </div>
        <% start_time =  Date.today %>
        <% end_time   =  project.deadline %> 
        <h6 class="px-2"><%= time_tag(project.deadline, format: :default, id:"deadline") %></h6>
      </div>
    <% end %>
     
  <div class="card-product-infos" style="width:60%">
    <h3 class="mb-3 text-dark text-wrap"><%= project.title %></h3>
    <div class="d-inline justify-content-between text-center">
      <% if project.status == "Abierto" %>
        <p class="font-status text-success bg-gradient-light rounded shadow">Status: <%= project.status %></p>
      <% elsif project.status == "Cerrado" %>
        <p class="font-status text-warning bg-gradient-light rounded shadow">Status: <%= project.status %></p>
      <% end %>
      <p class="font-status text-dark">Propuestas: <%= project.postulations.count %></p>
    </div>
  </div>
  
  <div class="d-inline mr-0 ml-4" style="width:20%">

      <%= link_to edit_project_path(project), target:"_blank" do%>
        <div class="d-flex">
            <%= image_tag "document.png", style:"height:40px; width:40px;" %>
            <h6>Editar proyecto</h6>
        </div>
      <% end %>

    <% if project.status == "Abierto" %>

      <%= link_to unpublish_project_path(project.id), method: :PUT, target:"_blank" do%>
        <div class= "d-flex align-items-center">
          <%= image_tag "delete.png", style:"height:40px; width:40px;" %>
          <h6>Borrar proyecto</h6>
        </div>
      <% end %>

    <% elsif project.status == "Cerrado" %>
      <%= link_to unpublish_project_path(project.id), method: :PUT, target:"_blank" do%>
        <div class= "d-flex align-items-center">
          <%= image_tag "box.png", style:"height:40px; width:40px;" %>
          <h6>Retomar proyecto</h6>
        </div>
      <% end %>
    <% end %>

     <%= link_to my_projects_postulations_path(project.id), target:"_blank" do%>
        <div class= "d-flex align-items-center">
          <%= image_tag "presentation.png", style:"height:40px; width:40px;" %>
          <h6>Ver propuestas</h6>
        </div>
      <% end %>
  </div>
  <!--
  <div class="d-inline">
    <% project.categories.each do |category| %>
      <%= cl_image_tag category.photo.key, class:"rounded-circle my-1" %>
      <%= category.title %>
    <% end %>
  </div> -->
</div>

