
<div class="container border p-3 proposal-card">
  <div class="d-flex" style="height: 112px;">
    <% if project.user.photo.key %>
      <%= cl_image_tag project.user.photo.key, alt: "Logo", width: 70, height: 50 %>
    <% end %>
    <div class="column pt-2 pl-2 pb-1 pr-3">
      <h4 class="text-wrap"><%= project.user.name %></h4>
      <%= '<i class="fas fa-star" style="color: orange"></i>'.html_safe * project.user.rating %>
      <%= '<i class="fas fa-star" style="color: grey"></i>'.html_safe * (5 - project.user.rating) %>
    </div>
  </div>

  <% if user_signed_in? && !current_user.company %>    
        <% if current_user.favourite_projects.include?(project.favourite_projects.where(user_id: current_user.id).first) %>
          <%= link_to favourite_project_path(project.favourite_projects.where(user_id: current_user.id).first), method: :delete, 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: 'Quitar de favoritos'  do %>
            <i class="fas fa-thumbtack unpin"></i>
          <% end %>
        <% else %>
          <%= link_to project_favourite_projects_path(project), method: :post, 'data-toggle' => 'tooltip', 'data-placement' => 'right', title: 'Agregar a favoritos'  do %>
            <i class="fas fa-thumbtack pin"></i>
          <% end %>
        <% end %>
  <% end %>

  <%= link_to project_path(project), class:"text-dark" do %>
      <h3 class="text-wrap mb-2"><%= project.title %></h3>
      
      <p class="text-wrap description"><%= project.description %></p>

    <div class="d-flex justify-content-between publish-data">
      <p>Publicado <%= time_ago_in_words(project.created_at) %> </p> 
      <p>Propuestas: <%= project.postulations.size %></p>
    </div>

    <h3 class="text-wrap mb-2"><%= project.title %></h3>
    <p class="text-wrap description"><%= project.description %></p>
    <h1 class="proposal-cost align-self-end text-primary text-center">u$s <%= project.cost.round(0) %></h1>
  <% end %>
  
</div>

