<div class="shadow m-2 pl-4 border border-white img-postulation" style="width:800px; border-radius:8%;">

  <div class="d-flex m-2 pt-3">
  
    <%= cl_image_tag postulation.user.photo.key , class:"user-image m-2 mr-4" %>


    <div class="text-justify">
      <h2><%= postulation.user.name %></h2>
      <i class="fas fa-star" style="color: orange"></i>
      <i class="fas fa-star" style="color: orange"></i>
      <i class="fas fa-star" style="color: orange"></i>
      <i class="fas fa-star" style="color: orange"></i>
      <i class="far fa-star" style="color: orange"></i>
    </div>
  </div>


  <h3 class="mt-3 mb-3">Descripción del concepto</h3>

  <div class="my-text-wrap rounded p-2 mb-3 bg-white">
    <p class="m-2"><%= postulation.description %></p>
  </div>

  <div class="d-flex mb-0">
    <% if postulation.status == "Postulado" %>
      
        <% if postulation.file %>
          <div class="d-inline mx-5">
            <%= link_to postulation.file, target:"_blank", class:"d-flex flex-column align-items-center" do%>
              <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
              <h6>Ver Demo</h6>
            <% end %>
          </div>
        <% else %>
          <div class="d-inline mx-5">
            <%= link_to @project.photo.key, target:"_blank", class:"d-flex flex-column align-items-center" do%>
              <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
              <h6>Ver archivo adjunto</h6>
            <% end %>
          </div>
        <% end %>
        
        <div class="d-inline mx-5">
          <%= link_to chatrooms_path, target:"_blank", class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "charla.png", style:"height:45px; width:50px;" %>
            <h6>Abrir Chat</h6>
          <% end %>
        </div>

        <div class="d-inline mx-5">
          <%= link_to change_projects_postulations_state_path(postulation.project.id, postulation.id), method: :PATCH, class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "si.png", style:"height:45px; width:50px;" %>
            <h6>Aceptar propuesta</h6>
          <% end %>
        </div>

        <div class="d-inline mx-5">
          <%= link_to decline_project_path(postulation.id), method: :PATCH, class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "bad-review.png", style:"height:45px; width:50px;" %>
            <h6>Rechazar propuesta</h6>
          <% end %>
        </div>
  
        <div class="d-inline mx-5">
          <%= link_to my_projects_path, class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "back-arrow.png", style:"height:45px; width:50px;" %>
            <h6>Volver</h6>
          <% end %>
        </div>
        </div>


    <% elsif postulation.status == "Aceptado" %>

      <% if postulation.file %>
        <div class="d-inline mx-5">
          <%= link_to postulation.file, target:"_blank", class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
            <h6>Ver Demo</h6>
          <% end %>
        </div>
      <% else %>
        <div class="d-inline mx-5">
          <%= link_to @project.photo.key, target:"_blank", class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
            <h6>Ver archivo adjunto</h6>
          <% end %>
        </div>
      <% end %>
      
      <div class="d-inline mx-5">
        <%= link_to chatrooms_path, target:"_blank", class:"d-flex flex-column align-items-center" do%>
          <%= image_tag "charla.png", style:"height:45px; width:50px;" %>
          <h6>Abrir Chat</h6>
        <% end %>
      </div>

      <div class="d-flex flex-column align-items-center mx-5">
        <%= image_tag "approved.png", style:"height:45px; width:50px;" %>
        <h6 class="text-success bolder pt-1">Aceptado</h6>
      </div>
      

       <div class="d-inline mx-5">
        <%= link_to new_project_postulation_review_path(@project, postulation), target:"_blank", class:"d-flex flex-column align-items-center" do%>
          <%= image_tag "review.png", style:"height:45px; width:50px;" %>
          <h6>Enviar review</h6>
        <% end %>
      </div>

       <div class="d-inline mx-5">
        <%= link_to my_projects_path, class:"d-flex flex-column align-items-center" do%>
          <%= image_tag "back-arrow.png", style:"height:45px; width:50px;" %>
          <h6>Volver</h6>
        <% end %>
      </div>

    <% elsif postulation.status == "Declinado" %>
    
      <% if postulation.file %>
        <div class="d-inline mx-5">
          <%= link_to postulation.file, target:"_blank", class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
            <h6>Ver Demo</h6>
          <% end %>
        </div>
      <% else %>
        <div class="d-inline mx-5">
          <%= link_to @project.photo.key, target:"_blank", class:"d-flex flex-column align-items-center" do%>
            <%= image_tag "carpeta.png", style:"height:45px; width:50px;" %>
            <h6>Ver archivo adjunto</h6>
          <% end %>
        </div>
      <% end %>
      
      <div class="d-inline mx-5">
        <%= link_to chatrooms_path, target:"_blank", class:"d-flex flex-column align-items-center" do%>
          <%= image_tag "charla.png", style:"height:45px; width:50px;" %>
          <h6>Abrir Chat</h6>
        <% end %>
      </div>

      <div class="mx-5">
        <%= image_tag "reject.png", style:"height:45px; width:50px;" %>
        <h6 class="text-success bolder shadow">Rechazado</h6>
      </div>

      <div class="d-inline mx-5">
        <%= link_to my_projects_path, class:"d-flex flex-column align-items-center" do%>
          <%= image_tag "back-arrow.png", style:"height:45px; width:50px;" %>
          <h6>Volver</h6>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
