  <div class="p-2">
    <div class="container border p-3 proposal-card">
      <div class="d-flex">
        <% if project.user.photo.key %>
          <%= cl_image_tag project.user.photo.key, alt: "Logo", width: 70, height: 50 %>
        <% end %>
        <div class="column pl-4 pb-3">
          <h4 class="text-wrap"><%= project.user.name %></h4>
          <%= '<i class="fas fa-star" style="color: orange"></i>'.html_safe * project.user.rating %>
          <%= '<i class="fas fa-star" style="color: grey"></i>'.html_safe * (5 - project.user.rating) %>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <p>Publicado hace <%= time_ago_in_words(project.created_at) %> </p>
        
        <p>Propuestas: <%= project.postulations.size %></p>
      </div>

      <h3 class="text-wrap"><%= project.title %></h3>
      <p class="text-wrap"><%= project.description %></p>

      <h1 class="proposal-cost align-self-end">u$s <%= project.cost.round(0) %></h1>
    </div>
  </div>
