<div>
   <h6><%= review.postulation.project.title %></h6>
   <div class="d-flex justify-content-between">
     <div class="d-flex">
      <%= cl_image_tag emmiter.photo.key, alt: "picture designer", class:"avatar-review" %>
      <p class="px-2 mb-0 align-items-center pt-1"> <%= emmiter.name %> </p>
      <div class="d-flex ml-3 pt-1 ">
        <i class="fas fa-star ml-2" style="color: orange"></i>
        <i class="fas fa-star ml-2" style="color: orange"></i>
        <i class="fas fa-star ml-2" style="color: orange"></i>
        <i class="fas fa-star ml-2" style="color: orange"></i>
        <i class="far fa-star ml-2" style="color: orange"></i> 
      </div>
     </div>
     <p class="text-secondary mr-5"> <%= time_ago_in_words(@project.created_at) %> </p>
   </div>
    <p> <%= review.comment %> </p>
  </div>
  <hr class="pb-3">