<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-5">
  <div>
    <%= link_to "/", class: "navbar-brand" do %>
     
     <p>Creative Hub</p>
    <% end %>

    <%= link_to "Preguntas frecuentes", "#", class:"text-white pl-3 pr-3"  %>
    <%= link_to "¿Como funciona?", "#", class:"text-white pl-3 pr-3" %>
  </div>

  <div>
  
    <% if user_signed_in? %>
      <%= link_to "My profile", "#" %>
    <% else %>
      <%= link_to "Iniciar sesión",  user_session_path, class:"text-white pl-3 pr-3" %>
      <%= link_to "Registrarse", "#", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
