<div >
  <% @projects.each do |project| %>
     <p><%= project.title %></p>
     <p><%= project.description %></p>
     <p><%= project.cost %></p>
     <p><%= project.deadline %></p>
     <p><%= project.status %></p>
     <p><%= project.user.name %></p>
       <p>----------------------------------</p>
  <% end %>
</div>