<!-- NAVBAR -->

<%= render "shared/navbar" %>

                      <!-- RUTAS DE LINKS -->

<div class="d-flex ml-2">
  <%= link_to "Creative Hub Home", root_path  %> <p class="px-2">></p> <%= link_to " Proyectos", projects_path  %> <p class="px-2"> > <%= @project.title %> </p>
</div>

<div class="fondo pt-3">


                    <!-- INFO DE LA EMPRESA-->

  <div class="container shadow mb-5 mt-2 px-0 ">
    <div class="d-flex">

    <div class="d-flex shadow info-back mr-4 rounded">
      <div class="pt-3 mr-2" >
        <%= cl_image_tag @project.user.photo.key, alt: "Logo", style:"height:120px; width:130px;", class:"pl-2", crop: :fill %>
      </div>
      <div class="mt-2"style="width:650px">
        <h1 class=" mt-2 text-wrap" style="height: 90px"><%= @project.title%></h1>
        <div class="d-flex mb-4">
          <h2 class="text-secondary m-0" > <%= @project.user.name  %> </h2>
          <div class="d-flex align-items-center ml-3">
            <%= '<i class="fas fa-star" style="color: orange"></i>'.html_safe * @project.user.rating %>
            <%= '<i class="fas fa-star" style="color: grey"></i>'.html_safe * (5 - @project.user.rating) %>
          </div>
        </div>
        <div class="d-flex justify-content-between mr-3 pr-2">
          <p class="black-weight text-dark">Publicado hace <%= time_ago_in_words(@project.created_at) %> </p>

          <%if @project.status == "Abierto"%>
            <div class="d-flex ">
            <p class="mb-0 mr-1 black-weight">Status:</p> <p class=" shadow rounded px-2 mt-0 mb-2 black-weight bg-success text-white"> Evaluando propuestas </p>
            </div>
          <% else %>
          <div class="d-flex">
            <p class="mb-0 mr-1 black-weight">Status:</p><p class="shadow rounded pr-2 pl-1 mt-0 mb-0 text-danger black-weight">Proyecto Finalizado</p>
          </div>
          <% end %>
        </div>
      </div>
      </div>




      <div class="info-back rounded shadow" style="width: 330px">
      <div class="text-center border-left-description px-2 mt-3 " >
        <p> Proyectos publicados por esta empresa:</p>
        <p ><%= @company.projects.size + 1 %></p>
        <p>Proyectos finalizados a la fecha:</p>
        <p class="mb-0">1</p>
        <p class="text-center text-secondary m-0">Miembro desde <%= time_tag(@project.user.created_at, :format=>'%d/%m/%Y')  %></p>
      </div>
      </div>
    </div>

      <!-- DETALLE DE PROPUESTA -->

  <div class="d-flex mt-2">
      <div class="text-wrap info-back p-2 rounded shadow" style="width: 787px;">
        <h4 class="mt-3 text-primary mb-0  "> INFORMACIÓN SOBRE ESTE PROYECTO</h4>
        <hr class="mt-0">
        <div>
        <p class="black-weight text-dark">Descripción: <%= @project.description%></p>
        </div>
        <div>
      <strong><p class="black-weight text-dark fs-1">Fecha de Entrega: <%= time_tag(@project.deadline, format: :default) %></p></strong>
      <div class="d-flex">
        <h4><strong>Remuneración:</strong> </h4> <h4 class="text-primary pl-2"><strong> u$s <%= @project.cost.round(0) %></strong> </h4>
      </div>

        </div>
        <div class="d-flex justify-content-center">
        <% if @user_postulated %>
          <p class="bg-success text-white p-2 mt-3">Ya estás postulado a este proyecto</p>
        <% else %>
          <%= link_to "Enviar propuesta", new_project_postulation_path(@project), class:"btn btn-primary mx-2 m-3"%>
        <% end %>
        <%= link_to "Realizar consulta", "#", class:"btn btn-primary ml-2 my-3"  %>
      </div>

      </div>




      <div class="info-back ml-4 rounded shadow" style="width: 330px">
            <h5 class="text-center text-secondary mt-4 mb-4  ">Actividad en este proyecto</h5>
            <div class="d-flex justify-content-between px-2 ">
            <p>Propuestas:</p> <p><%= @project.postulations.count %></p>
            </div>
            <div class="d-flex justify-content-between px-2">
              <p>Visualizaciones:</p> <p><%= @project.hits %></p>
            </div>
            <div class="d-flex justify-content-between px-2">
              <div>
                <p >Categoría: </p>
              </div>
              <div class="text-right">
                <% @project.categories.each do |category| %>
                <p><%= category.title %></p>
                <% end %>
              </div>
            </div>
      </div>
    </div>



</div>





          <!--REVIEWS DE FREELANCERS A LA EMPRESA -->

<div class="container shadow reviews-back">
  <h3>Comentarios de Freelancers </h3>
  <hr>

  <% @reviews.each do |review| %>
    <%= render 'components/review_comment', {emmiter: review.postulations.user, review: review} %>
  <% end %>

</div>
                          <!-- FOOTER -->

<%= render "components/footer" %>

</div>
</div>