<!DOCTYPE html>
<html>
  <head>
    <title>CreativeHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <body>
    <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/navbar" %>
    <% end %>
    <div id="page-container">
      <div id="content-wrap">
        <%= yield %>
      </div>
    
      <%= render "components/footer" %>
 
    </div>
      <%= render 'shared/flashes' %>
  </body>
</html>
